@model Blog

<section id="blog" class="bg-light-gray">
    <article>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2 class="section-heading">@Model.Title</h2>
                <p style="white-space:pre;word-wrap:break-word;">@Model.Body</p>
                <p class="post-meta">
                    Posted by <a asp-action="By" asp-route-Author="@Model.AuthorName">@Model.AuthorName</a> on @Model.PostDate
                    @if (Authentication.AuthorizedMember != null)
                    {
                        <p><a asp-action="Update" asp-route-Id="@Model.Id">Update Article</a></p>
                    }
                </p>
        </div>
    </div>
</article>
</section>